= semantic_form_for([:admin, param_template]) do |f|
  = f.input :name
  = f.inputs "Přiřazené kategorie" do
    - disabled = Category.where("param_template_id IS NOT NULL").pluck(:id)
    - disabled -= param_template.categories.pluck(:id) unless param_template.categories.blank?

    = f.input :categories, as: :check_boxes, collection: Category.roots, nested_set: true, disabled: disabled, show_if: :product_list?, member_label: :plural_name
  = f.actions do
    = f.submit