= semantic_form_for([:admin, param_template]) do |f|
  = f.input :name
  = f.inputs "Přiřazené kategorie" do
    - for shop in Shop.all
      %h3= shop.name
      = category_select_for_shop(shop, f, disabled: already_assigned_categories, show_if: :product_list?)
  = f.actions do
    = f.submit