= semantic_form_for([:admin, param_template]) do |f|
  = f.input :name
  = f.inputs "Přiřazené kategorie" do
    - disabled = Category.select(:id).where("param_template_id IS NOT NULL").map {|c| c.id}
    - disabled -= param_template.categories.map {|c| c.id} unless param_template.categories.blank?

    = f.input :categories, as: :check_boxes, :collection => Category.roots, nested_set: true, disabled: disabled, show_if: :is_product_list?, member_label: :plural_name

  = f.actions do
    = f.submit