%h3 Parametry
%ul.action_links
  %li= link_to "Přidat nový parametr", new_admin_param_template_param_item_path(param_template)

- unless param_template.param_items.empty?
  %table#param_items
    %thead
      %tr
        %th Název parametru
        %td Akce
    %tbody
      - for param_item in param_template.param_items
        %tr
          %th= param_item.name
          %td
            %ul.actions
              %li.delete= link_to "Smazat", admin_param_template_param_item_path(param_template, param_item), method: :delete, confirm: "Opravdu smazat parametr #{param_item.name}?"
              %li.edit= link_to "Upravit", edit_admin_param_template_param_item_path(param_template, param_item)
- else
  .empty_set
    Zatím nebyly vytvořeny žádné parametry