%h1 Nákupní košík

- if !order.nil? && order.item_count > 0

  %p= "Order: #{order.token}"
  %p= "Session: #{session[:order_token]}"

  = form_for(order, url: cart_path) do |f|
    %table
      %thead
        %tr
          %th Název produktu
          %th Počet
          %th Cena
          %th
      %tfoot
        %tr
          %th
            = f.submit "Přepočítat"
      - for cart_item in order.order_items
        = f.fields_for :order_items, cart_item do |f_item|
          %th<
            = link_to cart_item.product_name, cart_item.product_permalink
          %td<
            = f_item.number_field :quantity, {min: 0, size: 5}
          %td<
            = number_to_currency(cart_item.total)
          %td<
            = link_to "[X]", cart_path(id: cart_item), {"data-skip-pjax" => true, method: :delete}

    %p Celkem: #{number_to_currency(order.item_total)}
  = link_to "Objednat", order_path

- else
  %p Košík je prázdný