= semantic_form_for([:admin, shipping_method]) do |f|
  = f.input :name
  = f.input :short_description
  = f.input :description
  = f.inputs "Přiřazení k obchodům" do
    = f.input :shops, as: :check_boxes

  = f.inputs "Přiřazení k typům placení" do
    = f.input :payment_methods, as: :check_boxes

  = f.inputs "Cézar" do
    = f.input :caesar_type_id
    = f.input :caesar_type_name

  #package_sizes
    = f.inputs "Možné velikosti balíků" do
      = f.semantic_fields_for :package_sizes do |builder|
        = render 'package_size_fields', :f => builder
      .links
        = link_to_add_association 'Přidat balík', f, :package_sizes

  = f.actions do
    = f.submit