%h2 Obchody
%ul.action_links
  %li= link_to "Přidat nový obchod", new_admin_shop_path

- unless shops.empty?
  %table#shops
    %thead
      %th= Shop.human_attribute_name(:name)
      %th Adresa
      %th Krátký název
      %td Akce
    %tbody
      - for shop in shops
        %tr
          %th= shop.name
          %th= shop.host
          %th= shop.short_name
          %td
            %ul.actions
              %li= link_to "Smazat", admin_shop_path(shop), method: :delete, confirm: "Opravdu smazat obchod #{shop.name}?"
              %li= link_to "Upravit", edit_admin_shop_path(shop)
- else
  .empty_set
    Zatím nejsou vytvořeny žádné obchody