%h2 Značky
%ul.action_links
  %li= link_to "Přidat novou značku", new_admin_brand_path

- unless brands.empty?
  %h3.panel Seznam značek

  %table#brands.table_overview
    %thead
      %tr
        %th Název značky
        %td Akce
    %tbody
      - for brand in brands
        %tr{class: cycle("odd", "even")}
          %th= brand.name
          %td
            %ul.actions
              %li= link_to "Smazat", admin_brand_path(brand), method: :delete, confirm: "Opravdu smazat značku #{brand.name}?"
              %li= link_to "Upravit", edit_admin_brand_path(brand)
- else
  .empty_set
    Zatím nejsou vytvořeny žádné značky