= semantic_form_for([:admin, product_photo]) do |f|
  = f.input :title
  = f.input :image
  = f.input :main_photo, as: :radio, collection: {"Hlavní obrázek produktu" => true, "Dodatečný obrázek" => false}
  = f.actions do
    = f.submit