%h2 Obrázky produktu #{product.name}
= render "form"

- if product.main_photo.present?
  %h3 Hlavní obrázek produktu
  = image_tag product.main_photo.image_url(:big_admin_thumb)
  %ul.inline_actions
    %li= link_to "Upravit", edit_admin_product_photo_path(product, product.main_photo)
    %li= link_to "Smazat",
      admin_product_photo_path(product, product.main_photo),
        method: :delete,
        confirm: "Opravdu chcete smazat tuto fotku?"

= render "additional_photos"