%h2 Novinky v obchodu #{shop.name}
%ul.action_links
  %li= link_to "Přidat novinku", new_admin_shop_news_item_path(shop)

- unless news_items.empty?
  %table#news_items
    %thead
      %th Nadpis
      %td Akce
    %tbody
      - for news_item in news_items
        %tr
          %th= news_item.title
          %td
            %ul.actions
              %li= link_to "Smazat", admin_shop_news_item_path(shop, news_item), method: :delete, confirm: "Opravdu smazat novinku #{news_item.title}?"
              %li= link_to "Upravit", edit_admin_shop_news_item_path(shop, news_item)
- else
  .empty_set
    Zatím nejsou vytvořeny žádné novinky