= semantic_form_for([:admin, category]) do |f|
  = f.input :short_name
  = f.input :url
  = f.input :plural_name
  = f.input :singular_name
  = f.input :category_type, :as => :select, :collection => Category::CATEGORY_TYPES
  = f.input :parent_category, :as => :radio, :member_label => :plural_name

  = f.actions do
    = f.submit