= semantic_form_for([:admin, product]) do |f|
  = f.inputs "Název a značka" do
    = f.input :name, input_html: {:class => (:suggest_url if (product.name.parameterize == product.url rescue true))}
    = f.input :model_name
    = f.input :url
    = f.input :brand
  = f.inputs "Identifikační údaje" do
    = f.input :external_id
  = f.inputs "Cenovka" do
    = f.input :default_price
    = f.input :recommended_price
    = f.input :purchase_price
  = f.inputs "Ze zákona" do
    = f.input :warranty
    = f.input :recycling_fee
    = f.input :vat_rate
  = f.inputs "Popis" do
    = f.inputs :short_description
    = f.inputs :description
  = f.actions do
    = f.submit