%h2 Produkty

%ul.action_links
  %li= link_to "Přidat nový produkt", new_admin_product_path, {class: "create_new"}

- unless selected_products.empty?
  %h3.panel Seznam produktů

  -#//= form_for([:admin, search_products]) do |f|
  -#  //= f.text_field :name_contains
  -#  //= f.submit

  %table#products.table_overview
    %thead
      %tr
        %th= raw(sort_link search_products, :name)
        %th Zařazení
        %td Akce
    %tbody
      - for product in selected_products
        %tr{class: cycle("odd", "even")}
          %th= product.name
          %td= product.category_inclusions
          %td
            %ul.actions
              %li= link_to "Upravit", edit_admin_product_path(product)
              %li= link_to "Smazat", admin_product_path(product), :method => :delete, confirm: "Opravdu smazat produkt #{product.name}?"

  = paginate selected_products

- else
  .empty_set
    Zatím nejsou vytvořeny žádné produkty