= @category_name

- cache category do
  %h1= category.short_name
  %p= Random.rand(100)

  - cache category.products do
    %h2 Výrobky
    %p= Random.rand(100)
    - category.products.each do |product|
      - cache product do
        %h3= product.name
        %p= Random.rand(100)
        = link_to "Detail", "#{product.url}"
