%h2 Parametry produktu #{product.name}
- unless product.param_template.nil?
  - unless product.param_template.param_items.nil?
    = form_tag do
      %table
        %tbody
          - product.param_template.sorted_param_items_by_group_position.each do |param_item|
            %tr
              %td
                = param_item.label_with_group
              %td
                = param_item.param_item_input_fields(product.assigned_param_values)
      = submit_tag "Uložit parametry"
  - else
    .empty_set
      Šablona parametrů nemá přiřazeny žádné parametry
- else
  .empty_set
    Produkt nemá přiřazenou žádnou šablonu parametrů
