%h2 Parametry produktu #{product.name}

- unless product.param_template.nil?
  - unless product.param_template.param_items.nil?
    = "Přiřazené hodnoty: #{product.assigned_param_values.inspect}"
    = form_tag do
      %table
        %tbody
          - sort_by_param_group_position(product.param_template.param_items).each do |param|
            %tr
              %td
                = label_tag("param_items_#{param.id}", param.name)
                = "*" if param.is_sortable?
              %td
                = param.param_group_name
              %td
                - if param.choice_type == "input"
                  - if param.value_type == "int"
                    = text_field_tag("param_items[#{param.id}]", "#{product.assigned_param_values.fetch(param.id, nil)}", {size: 5})
                  - else
                    = text_field_tag(dom_id(param))
                  = param.unit
                - elsif param.choice_type == "choices"
                  - if param.value_type == "bool"
                    - {"Ano" => "ano", "Ne" => "ne", "nic" => ""}.each do |label, value|
                      %label
                        = radio_button_tag("param_items[#{param.id}]", value, product.assigned_param_values.fetch(param.id, "") == value)
                        = label
                  - else
                    - param.param_values.each do |pv|
                      %label
                        = radio_button_tag("param_items[#{param.id}]", pv.value, product.assigned_param_values.fetch(param.id, nil) == pv.value)
                        = pv.value
                      %br
                    %label
                      = radio_button_tag("param_items[#{param.id}]", "", false, {id: "param_items_#{param.id}_new"})
                      = text_field_tag("new[#{param.id}]", "", {"data-copy-to" => "param_items_#{param.id}_new"})
                - else
                  - param.param_values.each do |pv|
                    %label
                      = check_box_tag("param_items[#{param.id}][]", pv.value, (assigned_param_values.fetch(param.id, nil).include?(pv.value) rescue false))
                      = pv.value
                    %br
                  /%label
                  = check_box_tag("param_items[#{param.id}][]", "", false, {id: "param_items_#{param.id}_new"})
                  = text_field_tag("new[#{param.id}]", "")
      = submit_tag "Uložit produkt"
  - else
    .empty_set
      Šablona parametrů nemá přiřazeny žádné parametry
- else
  .empty_set
    Produkt nemá přiřazenou žádnou šablonu parametrů
