!!!
%html
  %head
    %title Thrifter
    = stylesheet_link_tag "admin", :media => "all"
    = javascript_include_tag "admin/application"
    = csrf_meta_tags

    %body
      #header_wrapper
        %span#logo
          = link_to raw('<span id="shop">Spořílek</span> - administrační rozhraní'), admin_root_path, {title: "Úvodní strana administrace"}
        #user_info
          = link_to raw(image_tag "/assets/admin/icons/admin_ico.jpg"), "#"

          #user_functions
            %strong Hlavní administrátor

            %ul
              %li= link_to "Profil", "#"
              %li= link_to "Odhlásit se", "#"

      #container_wrapper
        #sidebar-stitch
        #sidebar-background

        #sidebar
          #menu
            = render "admin/shared/menu"

        #content_wrapper.clearfix
          #content
            - unless flash.empty?
              #flash_messages
                - flash.each do |type, value|
                  .flash{ :class => type.to_s }
                    = value

            = yield

          #footer
            Patička administrace