!!!
%html
  %head
    %title Thrifter
    = stylesheet_link_tag "admin", :media => "all"
    = javascript_include_tag "admin/application"
    = csrf_meta_tags

    %body
      #header_wrapper
        %span#logo
          = link_to raw('<span id="shop">Spořílek</span> - admin'), admin_root_path, {title: "Úvodní strana administrace"}

      #container_wrapper
        #sidebar_wrapper
          = render "admin/shared/menu"
          #stich

        #content_wrapper
          - unless flash.empty?
            #flash_messages
              - flash.each do |type, value|
                .flash{ :class => type.to_s }
                  = value

          = yield

        #footer
