!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "frontend/application"
    = csrf_meta_tags

  %body
    = Random.rand(100)

    %nav
      = link_to "Pračky", "/pracky/", {class: "pjax", id: "pracky"}
      = link_to "Ledničky", "/lednicky/", {class: "pjax", id: "lednicky"}
      = link_to "Televize", "/televize/", {class: "pjax", id: "televize"}
      = link_to "Root", "/", {class: "pjax"}

    %div{"data-pjax-container" => true}
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value

      = yield
