!!!
%html
  %head
    %title= @title
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "frontend/application"
    = csrf_meta_tags

  %body
    = "ENV: #{Rails.env}"
    = Random.rand(100)
    %p= link_to "Košík", cart_path

    %nav
      = link_to "Americké chladničky", "/americke-chladnicky/", {id: "americke-chladnicky"}
      = link_to "Kombinované chladničky", "/kombinovane-chladnicky/", {id: "kombinovane-chladnicky"}
      = link_to "LED Televize", "/led-televize/", {id: "led-televize"}
      = link_to "Root", "/", {class: "pjax"}

    %div{"data-pjax-container" => true}
      - flash.each do |type, value|
        .flash{ :class => type.to_s }
          = value

      = yield
