%h2 #{product.name} &ndash; zařazení do kategorií

#product_assigned_to_shops
  - for shop in assigned_shops
    = content_tag_for(:div, shop) do
      %h3= shop.name

      Hlavní kategorie:
      = render :partial => "preferred_category", object: preferred_category_in_shop(shop)
      = link_to "Změnit hlavní kategorii",
        edit_preferred_admin_product_categorization_path(product, preferred_categorization_in_shop(shop))

      %h4 Alternativní kategorie
      %ul
        - for category in alternative_categories_in_shop(shop)
          %li
            %strong= category.plural_name
            %span.path_to_node= category.path_to_node
      = link_to "Upravit alternativní kategorie", edit_alternative_admin_product_categorizations_path(product, shop_id: shop.id)

  = form_tag(add_shop_to_admin_product_categorizations_path(product)) do
    %h3 Zařadit do dalšího obchodu
    = select_tag :shop_id, options_from_collection_for_select(shops, :id, :name)
    = submit_tag "Přidat do obchodu"